---
title: "Midterm Coding"
subtitle: "STAT 201"
author: "Pranav Aiyar"
format:
  html:
    toc: true
    embed-resources: true
---

### Instructions

1. **Write your name** at the top!
2. Feel free to add additional cells as needed.
3. Write your code in the *Code* cells of the **template provided** to write solutions for the assignment. **Do not open a new notebook**, and work from scratch. Ensure that the solution is written neatly enough to understand and grade.

4. Use [Quarto](https://quarto.org/docs/output-formats/html-basics.html) to print the *.ipynb* file as HTML. You will need to open the terminal, navigate to the directory containing the file, and use the command: `quarto render filename.ipynb --to html`. Submit the HTML file.

5. You are NOT permitted to use AI, internet, or eachother. You can use any amount of physical notes printed/written/typed that you would like.

6. There are point deductions if your code is not clean and organized.

## Question 1: Collecting Even Numbers Until a Target Sum *(4 points)*

Continually **prompt the user** to enter an **even integer between 2 and 20**, inclusive.

- Keep accepting input until the **sum of all valid entries** reaches or exceeds **50**.
- If the input is **outside the range** 2 to 20, display:  
  `"Please enter a number between 2 and 20."`
- If the input is **within the range** but **not even**, display:  
  `"That is not an even integer."`
- Do **not** count invalid inputs toward the total. The program should **keep prompting** until the required condition is met.



Once the program is complete print the following statement only **once**::

                            "You entered {} numbers that sum to {}." 
                                - the first {} is the count of the number of terms entered 
                                - the second {} is the sum of all the terms
    
Run your program with any values until it ends.

In [2]:
sum = 0
counter = 0
while True:
    try:
        num1 = int(input("Enter a number: "))
        if((type(num1)) == int and 1 < num1 < 21 and num1 % 2 == 0):
            sum += num1
            counter += 1
            if(sum >= 50):
                break
        elif (type(num1)) == int and 1 < num1 < 21:
            num1 = int(input("That is not an even integer. "))
        elif (type(num1)) == int and 1 < num1 < 21:
            num1 = int(input("Please enter a number between 2 and 20. "))
    except ValueError:
        print("Invalid input. Please try again. Enter 3 valid numbers this time.")

print(f"You entered {counter} numbers that sum to {sum}.")

You entered 5 numbers that sum to 50.

## Question 2: Counting Word Occurrences in a Sentence *(4 points)*

#### Task:  
Write a Python function named `count_word_occurrences` that accepts two arguments:  

- **`word`** (a string) – the word to count.  
- **`sentence`** (a string) – the sentence in which to count occurrences of the word.  

The function should return the number of times the **exact word** appears in the sentence, regardless of case. The word should be matched as a **whole word**, not as part of another word (e.g., `"sea"` should **not** be counted in `"seashore"`).  

#### Example Usage:  
Use this function to count the occurrences of the word **"sea"** in the following sentence:  

> `"The seaside town celebrates the sea with a season of seafood festivals by the sea."`

In [23]:
def count_occurrences(word, sentence):
    return sentence.lower().rstrip(".").split().count(word)

word = input("Enter a word: ")
sentence = input("Enter a sentence: ")
print(sentence.split())
print(count_occurrences(word, sentence))

['The', 'seaside', 'town', 'celebrates', 'the', 'sea', 'with', 'a', 'season', 'of', 'seafood', 'festivals', 'by', 'the', 'sea.']
2

## Question 3: Working with Python Lists *(4 points)*

Create a list called `my_nums` that contains any 5 numbers of your choice.

Complete the following sequence of tasks **in order**:

- add the numbers 3, 8 and 15 to the end of your list
- insert the number 1 into the **direct middle** of your list
- create a new list called `not_by_3` that is created by iterating through `my_nums` and only including/adding numbers that are NOT divisible by 3
- print your `not_by_3` list

In [14]:
my_nums = [1,2,3,4,5]
my_nums.append(3)
my_nums.append(8)
my_nums.append(15)
len(my_nums)

8

In [15]:
my_nums.insert(4, 1)
my_nums

[1, 2, 3, 4, 1, 5, 3, 8, 15]

In [16]:
not_by_3 = []
for i in range(len(my_nums)):
    if(my_nums[i] % 3 != 0):
        not_by_3.append(my_nums[i])
print(not_by_3)

[1, 2, 4, 1, 5, 8]

## Question 4: Categorizing Animals by Habitat Using a Single Loop *(5 points)*

Consider the `animal_habitat` object defined below which contains animals and their corresponding habitats.

In [24]:
animal_habitat = {
    "lion": "savanna",
    "elephant": "savanna",
    "tiger": "forest",
    "penguin": "polar",
    "polar bear": "polar",
    "kangaroo": "grassland",
    "cheetah": "savanna",
    "giraffe": "savanna",
    "wolf": "forest",
    "crocodile": "wetlands",
    "otter": "wetlands",
    "parrot": "rainforest",
    "gorilla": "rainforest",
    "dolphin": "ocean",
    "whale": "ocean",
    "eagle": "mountains",
    "panda": "forest"
}

#### **Instructions:**
Use the dictionary `animal_habitat` to create:

- A **list** of all animals that live in the **savanna** (call it `savanna_animals`).
- A **list** of all animals that live in the **forest** (call it `forest_animals`).
- A **list** of all remaining animals (call it `other_animals`).
- A **dictionary** (call it `habitat_count`) that counts the number of animals in the **savanna**, **forest**, and **other** habitats.

#### **Constraints:**
- This should be done within a **single loop**.
- Initialize `habitat_count` with keys `"savanna"`, `"forest"`, and `"other"`, all starting with a value of `0`.

#### **Hint:**
Use **if-elif-else**  structure inside the loop to classify each animal based on its habitat.

In [29]:
savanna_animals = []
forest_animals = []
other_animals = []
habitat_count =  {
    "savanna": 0,
    "forest": 0,
    "other": 0
}

for key, value in animal_habitat.items():
    if(value == "savanna"):
        savanna_animals.append(key)
        habitat_count["savanna"] += 1
    elif(value == "forest"):
        forest_animals.append(key)
        habitat_count["forest"] += 1
    else:
        other_animals.append(key)
        habitat_count["other"] += 1


print(habitat_count)

{'savanna': 4, 'forest': 3, 'other': 10}

## Question 5: Movie Profit Analysis *(3 points)*

USA’s GDP per capita from 1960 to 2021 is given by the tuple `T` in the code cell below. The values are arranged in ascending order of the year, i.e., the first value is for 1960, the second value is for 1961, and so on.

In [30]:
T = (3007, 3067, 3244, 3375,3574, 3828, 4146, 4336, 4696, 5032,5234,5609,6094,6726,7226,7801,8592,9453,10565,11674,12575,13976,14434,15544,17121,18237,19071,20039,21417,22857,23889,24342,25419,26387,27695,28691,29968,31459,32854,34515,36330,37134,37998,39490,41725,44123,46302,48050,48570,47195,48651,50066,51784,53291,55124,56763,57867,59915,62805,65095,63028,69288)

####
Use list comprehension to create a list of the gaps between consecutive entries in `T`, i.e, the increase in GDP per capita with respect to the previous year. The list with gaps should look like: [60, 177, …]. Let the name of this list be `GDP_increase`. (2 points)

In [42]:
years = [x for x in range(1961, 1961 + len(T))]
GDP_increase = tuple((T[x]-T[x-1]) for x in range(1, len(T)))
zipped = zip(years, GDP_increase)
GDP_list = list(GDP_increase)
zipped_gap = list(zipped)
print(GDP_list)

[60, 177, 131, 199, 254, 318, 190, 360, 336, 202, 375, 485, 632, 500, 575, 791, 861, 1112, 1109, 901, 1401, 458, 1110, 1577, 1116, 834, 968, 1378, 1440, 1032, 453, 1077, 968, 1308, 996, 1277, 1491, 1395, 1661, 1815, 804, 864, 1492, 2235, 2398, 2179, 1748, 520, -1375, 1456, 1415, 1718, 1507, 1833, 1639, 1104, 2048, 2890, 2290, -2067, 6260]

####
Use `GDP_increase` to find the maximum gap size, i.e, the maximum increase in GDP per capita. (1 point)

In [ ]:
del max
max_increase = max(GDP_increase)
print(max_increase)

6260

## Bonus Points *(3 points)*

####
Use list comprehension with `GDP_increase` to find the percentage of gaps that have size greater than $1000. (1 point)

In [ ]:
gaps1000 = [x for x in GDP_list if x > 1000]
gaps_len = len(gaps1000)
gap_percent = (gaps_len/len(T))*100
print(gap_percent)

51.61290322580645

####
Use list comprehension with `GDP_increase` to print the list of years in which the GDP per capita increase was more than $2000. (2 points)

**Hint:** The `enumerate()` function may help.

In [ ]:
for year, gap in zipped_gap:
    if(gap > 2000):
        print(year)

2004
2005
2006
2017
2018
2019
2021